*,
*::before,
*::after {
  box-sizing: border-box;
}

@font-face {
  font-family: 'Manrope', sans-serif;
  src: url(../src/assets/fonts/Manrope-Regular.ttf);
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Manrope', sans-serif;
  src: url(../src/assets/fonts/Manrope-Medium.ttf);
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Manrope', sans-serif;
  src: url(../src/assets/fonts/Manrope-SemiBold.ttf);
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}

body {
  background-color: #0a0a11;
  font-family: 'Manrope', sans-serif;
  color: #f3f3f3;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
  font-family: inherit;
}
a {
  text-decoration: none;
  font-family: inherit;
  color: inherit;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
img {
  display: block;
}
button {
  cursor: pointer;
  font-family: inherit;

}
/* =============стилі для календаря ======================== */
.air-datepicker {
  background-color: #161F37;
  width: 219px;
  border-radius: 8px;
  color: #F3F3F3;
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.32px;
}

.air-datepicker-nav {
  color: #f3f3f3
}

.air-datepicker-nav:hover,
.air-datepicker-nav:focus,
.air-datepicker-cell:hover,
.air-datepicker-cell:focus,
.air-datepicker-cell.-day-.-other-month-:hover,
.air-datepicker-cell.-day-.-other-month-:focus {
  color: #161f37
}
.air-datepicker-cell.-day-.-other-month-{
  color: grey
}